<?php

define('FILESENDER_URL', 'https://cloudstor.aarnet.edu.au/sender/rest.php');
define('FILESENDER_USERID', 'you@doma.in');
define('FILESENDER_APIKEY', 'fffffffffffffffffffffffffffffffffffffffffffffffff');
define('ACCESS_CONDITIONS', '');
define('ASSET_BASE','');

?>
